<h2> <%=player2%> you have <%=wrong_count%> guesses left:</h2>



<form method = 'post' action = 'letter_input'

<input type = 'hidden' name = 'p2_name_input' value = '<%=player2%>'>

<input type = 'hidden' name = 'p1_name_input' value = '<%=player1%>'>

<input type = 'hidden' name = 'secret_word' value = '<%=secret_word%>'>

<input type = 'hidden' name = 'wrong_count' value = '<%=wrong_count%>'



</form>




