<meta charset="UTF-8">



<h2><%=player2%> guess a letter</h2>

<form method = 'post' action = 'next_file'>

<input type = 'text' name = 'letter_input'>

<input type = 'hidden' name = 'p2_name_input' value = '<%=player2%>'>

<input type = 'hidden' name = 'p1_name_input' value = '<%=player1%>'>

<input type = 'hidden' name = 'secret_word' value = '<%=secret_word%>'>

<input type = 'submit'>

</form>



<%=container%>



<p>Guessed letters: <%=guess_letter%></p>



<p> You have <%=wrong_count%> wrong guesses</p>



<p><%=message%></p>